__pycache__/
*.py[cod]

.idea/
.mongodb/

*.db
*.sqlite
*.sqlite3
*.csv
*.xls
*.xlsx

outputs/
projects/**/data/raw/
projects/**/data/processed/
projects/**/data/features/
projects/**/data/results/
projects/**/evidence/
